* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgba(247, 211, 3, 0.763);
    color: rgb(8, 27, 1);
}

h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}


ul {
    padding-left: 40px;
    font-size: 20px;
    color:rgb(255, 11, 11);
}

p {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 11, 11);
  }

  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px #0732df0b;
    box-shadow: 5px 10px #a6f300;
    color:rgb(255, 200, 0);
  }